body {
    background-image: url('../media/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.login{
    border:2px solid orange;
    border-radius: 15px; 
    margin: 230px 300px 300px 300px;
    padding: 10px 10px 10px 10px;
    
}
.email{
    width: 300px;
}
.password{
    width: 300px;
    margin-right:20px;
}